* {
    padding: 0;
    margin: 0;
}

body {
    
}
.container{
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: aquamarine;
    




}
.header{
    width: 50%;
    text-align: center;
    border-bottom: 5px solid black;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    
    
}

.gallery img{
    flex-basis: 20%;
    flex-grow: 1;
    border: 3px solid black;
    width: 200px;
    
}
